@use "/src/styles/settings/tokens" as *;
@use "/src/styles/settings/breakpoints" as *;

.gallery-showcase {
  padding-block: var(--gallery-showcase-padding-top-mobile)
    var(--gallery-showcase-padding-bottom-mobile);

  @include respond-to(lg) {
    padding-block: var(--gallery-showcase-padding-top-desktop)
      var(--gallery-showcase-padding-bottom-desktop);
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    margin-bottom: var(--space-23);
    padding-inline: var(--space-20);
    text-align: center;

    @include respond-to(lg) {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: var(--space-31);
      padding-inline: var(--space-32);
      text-align: left;
    }

    @include respond-to(xl) {
      padding-inline: var(--space-56);
    }
  }

  &__heading.t-h4 {
    max-width: none;
    letter-spacing: -0.09rem;
    @include respond-down(lg) {
      font-size: var(--fs-h5);
      line-height: var(--lh-h5);
      letter-spacing: -0.08rem;
      font-weight: var(--fw-regular);
    }
  }

  &__cta.btn {
    flex: 0 0 auto;
    white-space: nowrap;
    margin-bottom: var(--space-4);
    padding: 0 var(--space-85);
    @include respond-down(lg) {
      margin-bottom: 0;
      width: 100%;
    }
  }

  &__row {
    padding-inline: var(--space-20);

    @include respond-to(lg) {
      padding-inline: var(--space-32);
    }

    @include respond-to(xl) {
      padding-inline: var(--space-56);
    }
  }

  &__card {
    aspect-ratio: 3/3.81;
    border: var(--bw-2) solid var(--ink);
    height: auto;
    overflow: hidden;
    @include respond-to(lg) {
      aspect-ratio: 3 / 4.1;
    }
  }

  &__media-wrapper,
  &__media {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__media {
    object-fit: cover;
  }
}
